
body {
  font-family: Cursive;
  color: #0003;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: white;
  box-shadow: 0px 0px 20px #0003;
}
header nav {
  position: relative;
}
header nav .navigation-menu {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
  padding: 0;
  margin: 0;
}
header nav .navigation-menu li {
  position: relative;
}
header nav .navigation-menu li a {
  position: relative;
  display: block;
  color: black;
  text-decoration: none;
  padding: 1rem 2rem;
  text-wrap: nowrap;
}
header nav .navigation-menu li.extends a::after {
  content: ">";
  display: inline-block;
  transform: rotate(90deg);
  margin-left: 0.5rem;
  padding-bottom: 3px;
  vertical-align: middle;
  font-size: 10px;
}
header nav .navigation-menu li:not(.extends) a::after {
  content: "";
}
header nav .navigation-menu li ul {
  position: absolute;
  left: 0;
  top: 100%;
  display: flex;
  flex-direction: column;
  padding: 0;
  list-style: none;
  background-color: white;
  box-shadow: 0px 0px 20px #0003;
}
header nav .navigation-menu li ul li {
  position: unset;
}
header nav .navigation-menu li ul li a::after {
  transform: rotate(0deg) !important;
}
header nav .navigation-menu li ul li ul {
  left: 100%;
  top: 0;
  min-height: 100%;
}
header nav .navigation-menu li:hover {
  background-color: #eee;
}
header nav .navigation-menu li:not(:hover) ul {
  display: none;
}
